<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="bspllayouts_mail_grid">
				<div class="col-md-3 bspllayouts_mail_grid_left">
					<div class="bspllayouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-motorcycle" aria-hidden="true"></i>
					</div>
					<div class="bspllayouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						
					</div>
				</div>
				<div class="col-md-3 bspllayouts_mail_grid_left">
					<div class="bspllayouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-phone-square" aria-hidden="true"></i>
					</div>
					<div class="bspllayouts_mail_grid_left2">
						<h3>24/7 SUPPORT</h3>
						
					</div>
				</div>
				<div class="col-md-3 bspllayouts_mail_grid_left">
					<div class="bspllayouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
					</div>
					<div class="bspllayouts_mail_grid_left2">
						<h3>MONEY BACK GUARANTEE</h3>
						
					</div>
				</div>
					<div class="col-md-3 bspllayouts_mail_grid_left">
					<div class="bspllayouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="bspllayouts_mail_grid_left2">
						<h3>FREE GIFT COUPONS</h3>
						
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<!--grids-->
<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_bspll">
		<div class="col-md-3 footer-left">
			<h2><a href="index.html">Farm<span>2</span>Kitchen </a></h2>
			<p></p>
			<ul class="social-nav model-3d-0 footer-social bspl_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Our <span>Information</span> </h4>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="chicken.html">Chicken</a></li>
						<li><a href="mutton.html">Mutton</a></li>
						
						<li><a href="typography.html">Egg</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				
				<div class="col-md-5 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="bspl-address">
						<div class="bspl-address-grid">
							<div class="bspl-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="bspl-address-right">
								<h6>Phone Number</h6>
								<p>+1 234 567 8901</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="bspl-address-grid">
							<div class="bspl-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="bspl-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="bspl-address-grid">
							<div class="bspl-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="bspl-address-right">
								<h6>Location</h6>
								<p>no a,xya street,dc colony,AN 
								
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
			<div class="agile_newsletter_footer">
					<div class="col-sm-6 newsleft">
				<h3>SIGN UP FOR NEWSLETTER !</h3>
			</div>
			<div class="col-sm-6 newsright">
				<form action="#" method="post">
					<input type="email" placeholder="Enter your email..." name="email" required="">
					<input type="submit" value="Submit">
				</form>
			</div>

		<div class="clearfix"></div>
	
</div>
<!-- //footer -->

<!-- login -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
								<div class="login">
									<div class="login-bottom">
										<h3>Sign up for free</h3>
										<form>
											<div class="sign-up">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
											</div>
											<div class="sign-up">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												
											</div>
											<div class="sign-up">
												<h4>Re-type Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												
											</div>
											<div class="sign-up">
												<input type="submit" value="REGISTER NOW" >
											</div>
											
										</form>
									</div>
									<div class="login-right">
										<h3>Sign in with your account</h3>
										<form>
											<div class="sign-in">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
											</div>
											<div class="sign-in">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												<a href="#">Forgot password?</a>
											</div>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<div class="sign-in">
												<input type="submit" value="SIGNIN" >
											</div>
										</form>
									</div>
									<div class="clearfix"></div>
								</div>
								<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- //login -->